doc
extras
ia32
intel64
licensing
source
pin
*.log
README_old
*.sig
.vscode
workspace/.cache
workspace/obj-intel64
workspace/bzip2
workspace/sjeng
workspace/sphinx3
workspace/wrf
*.tmpl
*.png
*.o
*.so
*.txt